body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:300px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:300px;
}
#u1 {
  position:absolute;
  left:2px;
  top:142px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1px;
  width:750px;
  height:299px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:299px;
}
#u3 {
  position:absolute;
  left:2px;
  top:142px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1px;
  top:99px;
  width:202px;
  height:165px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:165px;
}
#u5 {
  position:absolute;
  left:2px;
  top:74px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:16px;
  top:96px;
  width:174px;
  height:174px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:174px;
}
#u7 {
  position:absolute;
  left:2px;
  top:79px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:209px;
  top:146px;
  width:166px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:162px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:400px;
  top:146px;
  width:166px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:162px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:120px;
  top:355px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:120px;
  top:460px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:120px;
  top:570px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:34px;
  top:556px;
  width:46px;
  height:46px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u19 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:36px;
  top:445px;
  width:42px;
  height:46px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:15px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:343px;
  width:50px;
  height:44px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:410px;
  width:600px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:520px;
  width:600px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:583px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:600px;
  height:1px;
}
#u26 {
  position:absolute;
  left:600px;
  top:109px;
  width:150px;
  height:1141px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1141px;
}
#u27 {
  position:absolute;
  left:2px;
  top:562px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
