body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:148px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:148px;
}
#u1 {
  position:absolute;
  left:2px;
  top:66px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:304px;
  top:80px;
  width:145px;
  height:37px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:76px;
  width:25px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:232px;
  top:193px;
  width:271px;
  height:31px;
  font-size:30px;
  color:#00BBD2;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:31px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:232px;
  top:231px;
  width:271px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:254px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:271px;
  height:1px;
}
#u9 {
  position:absolute;
  left:128px;
  top:270px;
  width:472px;
  height:70px;
  font-size:30px;
  color:#00BBD2;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:27px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:130px;
  top:272px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:66px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:66px;
}
#u13 {
  position:absolute;
  left:2px;
  top:25px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:219px;
  top:290px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u14_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#00BBD2;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:415px;
  top:290px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  font-size:30px;
  color:#00BBD2;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u19_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
  font-size:30px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:8px;
  top:67px;
  width:62px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
