body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:150px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:150px;
}
#u3 {
  position:absolute;
  left:2px;
  top:67px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:76px;
  width:25px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:308px;
  top:80px;
  width:145px;
  height:37px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:114px;
  top:332px;
  width:512px;
  height:68px;
  color:#006699;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:68px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:321px;
  top:350px;
  width:97px;
  height:32px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
  line-height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:115px;
  top:224px;
  width:516px;
  height:85px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:85px;
}
#u13 {
  position:absolute;
  left:2px;
  top:34px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:132px;
  top:246px;
  width:49px;
  height:38px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:38px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:210px;
  top:246px;
  width:399px;
  height:46px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#0D0D0D;
  text-align:left;
}
#u17 {
  position:absolute;
  left:6px;
  top:64px;
  width:70px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
