body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:182px;
  width:97px;
  height:25px;
  color:#00BBD2;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:20px;
  top:275px;
  width:97px;
  height:25px;
  color:#00BBD2;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:406px;
  width:97px;
  height:25px;
  color:#00BBD2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:500px;
  width:217px;
  height:25px;
  color:#00BBD2;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:548px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:35px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#00BBD2;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u12 {
  position:absolute;
  left:126px;
  top:30px;
  width:459px;
  height:110px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:110px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#00BBD2;
  text-align:left;
}
#u13 {
  position:absolute;
  left:20px;
  top:235px;
  width:710px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u14 {
  position:absolute;
  left:20px;
  top:366px;
  width:710px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u15 {
  position:absolute;
  left:20px;
  top:459px;
  width:710px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:148px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:148px;
}
#u17 {
  position:absolute;
  left:2px;
  top:66px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:80px;
  width:61px;
  height:31px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:305px;
  top:497px;
  width:91px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#00BBD2;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:455px;
  top:497px;
  width:91px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#00BBD2;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:280px;
  top:503px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:434px;
  top:503px;
}
#u29_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u29_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:151px;
  top:172px;
  width:459px;
  height:46px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#00BBD2;
  text-align:left;
}
#u35 {
  position:absolute;
  left:151px;
  top:264px;
  width:249px;
  height:46px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#00BBD2;
  text-align:left;
}
#u36 {
  position:absolute;
  left:620px;
  top:272px;
  width:40px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#00BBD2;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:31px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:410px;
  top:264px;
  width:200px;
  height:46px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#00BBD2;
  text-align:left;
}
#u39 {
  position:absolute;
  left:151px;
  top:312px;
  width:249px;
  height:46px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#00BBD2;
  text-align:left;
}
#u40 {
  position:absolute;
  left:410px;
  top:312px;
  width:200px;
  height:46px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  color:#00BBD2;
  text-align:left;
}
#u41 {
  position:absolute;
  left:20px;
  top:1230px;
}
#u41_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:70px;
  font-size:30px;
  color:#00BBD2;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:70px;
}
#u43 {
  position:absolute;
  left:2px;
  top:20px;
  width:706px;
  word-wrap:break-word;
}
#u41_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u41_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:70px;
  font-size:30px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:70px;
}
#u45 {
  position:absolute;
  left:2px;
  top:20px;
  width:706px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:20px;
  top:762px;
  width:145px;
  height:25px;
  color:#00BBD2;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:720px;
  width:710px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u49 {
  position:absolute;
  left:33px;
  top:838px;
  width:72px;
  height:55px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:55px;
}
#u50 {
  position:absolute;
  left:2px;
  top:20px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:20px;
  top:817px;
  width:100px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:151px;
  top:403px;
  width:211px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#00BBD2;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:31px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:410px;
  top:398px;
  width:23px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
