body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:148px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:148px;
}
#u1 {
  position:absolute;
  left:2px;
  top:66px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:176px;
  top:80px;
  width:393px;
  height:41px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:41px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:76px;
  width:25px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:148px;
  width:749px;
  height:424px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:749px;
  height:424px;
}
#u7 {
  position:absolute;
  left:2px;
  top:204px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:674px;
  top:530px;
  width:46px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:1217px;
  width:750px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:660px;
  width:750px;
  height:562px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:562px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:62px;
  top:216px;
  width:32px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:64px;
  top:310px;
  width:26px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:68px;
  top:426px;
  width:28px;
  height:34px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:272px;
  width:710px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u19 {
  position:absolute;
  left:20px;
  top:380px;
  width:710px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u20 {
  position:absolute;
  left:140px;
  top:208px;
  width:580px;
  height:54px;
  font-size:24px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:54px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:140px;
  top:322px;
  width:580px;
  height:18px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:140px;
  top:426px;
  width:589px;
  height:56px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:56px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:160px;
  top:84px;
  width:73px;
  height:25px;
  font-size:24px;
  color:#00BBD2;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:160px;
  top:120px;
  width:97px;
  height:25px;
  font-size:24px;
  color:#00BBD2;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:626px;
  top:82px;
  width:25px;
  height:48px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:48px;
}
#u31 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:20px;
  top:50px;
  width:130px;
  height:130px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u33 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:562px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:20px;
  top:30px;
  width:100px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:250px;
  width:100px;
  height:100px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u37 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:22px;
  top:158px;
  width:707px;
  height:28px;
  font-size:24px;
  color:#00BBD2;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:28px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:22px;
  top:372px;
  width:707px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:139px;
  top:70px;
  width:49px;
  height:25px;
  font-size:24px;
  color:#00BBD2;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:643px;
  top:56px;
  width:86px;
  height:28px;
  font-size:24px;
  color:#00BBD2;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:643px;
  top:272px;
  width:86px;
  height:28px;
  font-size:24px;
  color:#00BBD2;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:139px;
  top:286px;
  width:73px;
  height:25px;
  font-size:24px;
  color:#00BBD2;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:208px;
  width:709px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:692px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:709px;
  height:1px;
}
#u11_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:562px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:20px;
  top:198px;
  width:100px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:20px;
  top:30px;
  width:100px;
  height:100px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u54 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:144px;
  top:54px;
  width:49px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:144px;
  top:82px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:144px;
  top:218px;
  width:73px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:144px;
  top:246px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:662px;
  top:58px;
  width:25px;
  height:48px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:48px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:662px;
  top:218px;
  width:25px;
  height:48px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:48px;
}
#u66 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:22px;
  top:158px;
  width:710px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u68 {
  position:absolute;
  left:22px;
  top:324px;
  width:710px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u69 {
  position:absolute;
  left:144px;
  top:386px;
  width:73px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:144px;
  top:414px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#00BBD2;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:662px;
  top:388px;
  width:25px;
  height:48px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:48px;
}
#u74 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:22px;
  top:324px;
  width:710px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u76 {
  position:absolute;
  left:22px;
  top:362px;
  width:100px;
  height:100px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u77 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:20px;
  top:578px;
  width:250px;
  height:88px;
  overflow:hidden;
}
#u78_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u78_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:0px;
  top:7px;
  width:237px;
  height:75px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:75px;
}
#u80 {
  position:absolute;
  left:2px;
  top:23px;
  width:233px;
  word-wrap:break-word;
}
#u78_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u78_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:0px;
  top:7px;
  width:237px;
  height:75px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#00BBD2;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:75px;
}
#u82 {
  position:absolute;
  left:2px;
  top:23px;
  width:233px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:246px;
  top:578px;
  width:250px;
  height:88px;
  overflow:hidden;
}
#u83_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:10px;
  top:7px;
  width:236px;
  height:75px;
  font-size:28px;
  color:#00BBD2;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:75px;
}
#u85 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u83_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u83_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:10px;
  top:7px;
  width:236px;
  height:75px;
  font-size:28px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:75px;
}
#u87 {
  position:absolute;
  left:2px;
  top:23px;
  width:232px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:479px;
  top:578px;
  width:260px;
  height:88px;
  overflow:hidden;
}
#u88_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u88_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:13px;
  top:7px;
  width:237px;
  height:75px;
  font-size:28px;
  color:#00BBD2;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:75px;
}
#u90 {
  position:absolute;
  left:2px;
  top:23px;
  width:233px;
  word-wrap:break-word;
}
#u88_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u88_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91 {
  position:absolute;
  left:13px;
  top:7px;
  width:237px;
  height:75px;
  font-size:28px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:75px;
}
#u92 {
  position:absolute;
  left:2px;
  top:23px;
  width:233px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:130px;
  top:1222px;
  width:80px;
  height:112px;
  overflow:hidden;
}
#u93_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:16px;
  top:17px;
  width:52px;
  height:49px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
}
#u95 {
  position:absolute;
  left:2px;
  top:16px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:20px;
  top:82px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#00BBD2;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u93_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u93_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98 {
  position:absolute;
  left:21px;
  top:82px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#F2D649;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:16px;
  top:17px;
  width:52px;
  height:50px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:489px;
  top:1222px;
  width:80px;
  height:112px;
  overflow:hidden;
}
#u102_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u102_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u103 {
  position:absolute;
  left:16px;
  top:18px;
  width:42px;
  height:50px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u104 {
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:18px;
  top:81px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#00BBD2;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u102_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:112px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u102_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u107 {
  position:absolute;
  left:18px;
  top:81px;
  width:41px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#F2D649;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:16px;
  top:18px;
  width:42px;
  height:50px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u110 {
  position:absolute;
  left:2px;
  top:17px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:252px;
  top:585px;
  width:10px;
  height:75px;
}
#u111_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u111_end {
  position:absolute;
  left:-5px;
  top:58px;
  width:20px;
  height:18px;
}
#u111_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:75px;
}
#u112 {
  position:absolute;
  left:640px;
  top:490px;
  width:90px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:20px;
  top:700px;
  width:710px;
  height:150px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
