body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:76px;
  width:25px;
  height:47px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:47px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:272px;
  top:80px;
  width:217px;
  height:37px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:185px;
  width:61px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#00BBD2;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:20px;
  top:299px;
  width:61px;
  height:31px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#00BBD2;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:120px;
  top:178px;
  width:240px;
  height:46px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#0D0D0D;
  text-align:left;
}
#u11 {
  position:absolute;
  left:120px;
  top:292px;
  width:240px;
  height:46px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#0D0D0D;
  text-align:left;
}
#u12 {
  position:absolute;
  left:0px;
  top:252px;
  width:750px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:733px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:750px;
  height:1px;
}
#u13 {
  position:absolute;
  left:8px;
  top:67px;
  width:62px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
