<div class="ui-form ui-border-t">
	<form action="#">
		<div class="ui-form-item ui-form-item-pure ui-border-b">
			<input type="text" placeholder="活动名称" ng-model="my_activity.name"> <a href="#"
				class="ui-icon-close"></a>
		</div>
		<div class="ui-form-item ui-form-item-pure ui-border-b">
			<input type="text" placeholder="活动场地" ng-model="my_activity.address"> <a href="#"
				class="ui-icon-close"></a>
		</div>
	</form>
</div>
<div class="ui-btn-wrap">
	<button class="ui-btn-lg ui-btn-primary" ng-click="submit()">确定</button>
</div>
