<div class="ui-form ui-border-t">
	<form action="#">
		<div class="ui-form-item ui-form-item-pure ui-border-b">
			<input type="text" placeholder="手机号" ng-model="user.tel"> <a href="#"
				class="ui-icon-close"></a>
		</div>
		<div class="ui-form-item ui-form-item-pure ui-border-b">
			<input type="password" placeholder="密码" ng-model="user.password"> <a href="#"
				class="ui-icon-close"></a>
		</div>
	</form>
</div>
<div class="ui-btn-wrap">
	<button class="ui-btn-lg ui-btn-primary" ng-click="submit()">注册</button>
</div>
