body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:150px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:150px;
}
#u3 {
  position:absolute;
  left:2px;
  top:67px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:76px;
  width:25px;
  height:47px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:47px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:308px;
  top:80px;
  width:145px;
  height:37px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:224px;
  top:181px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#9D9D9E;
  text-align:center;
  line-height:32px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u8_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:64px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  text-align:center;
  line-height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:64px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:79px;
  top:268px;
  width:593px;
  height:80px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:80px;
}
#u14 {
  position:absolute;
  left:2px;
  top:32px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:117px;
  top:284px;
  width:43px;
  height:46px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:46px;
}
#u16 {
  position:absolute;
  left:2px;
  top:15px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:79px;
  top:398px;
}
#u17_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u17_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  color:#006699;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:37px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u17_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  color:#006699;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
}
#u21 {
  position:absolute;
  left:2px;
  top:37px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:141px;
  top:424px;
  width:141px;
  height:36px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:390px;
  top:400px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  color:#006699;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
}
#u26 {
  position:absolute;
  left:2px;
  top:37px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
  color:#006699;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:90px;
}
#u28 {
  position:absolute;
  left:2px;
  top:37px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:490px;
  top:425px;
  width:71px;
  height:36px;
  font-family:'MicrosoftSansSerif', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:36px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:181px;
  top:285px;
  width:399px;
  height:46px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:46px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#0D0D0D;
  text-align:left;
}
#u32 {
  position:absolute;
  left:6px;
  top:64px;
  width:70px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
